# Awesome Home Kubernetes

A curation of projects and resources involving running Kubernetes at home. ⛵

- [Awesome Home Kubernetes](#awesome-home-kubernetes)
  - [Home GitOps Kubernetes Clusters](#home-gitops-kubernetes-clusters)
  - [Helm Chart Repositories](#helm-chart-repositories)

## Home GitOps Kubernetes Clusters

[![search-users](https://img.shields.io/badge/search-users-orange?style=for-the-badge)]({{ search_urls['user_code'] }})

[![search-all](https://img.shields.io/badge/search-all%20repos-orange?style=for-the-badge)]({{ search_urls['user_repo'] }})
{%- for k,v in search_urls['user_gitops_types'].items() %}
[![search-{{k}}](https://img.shields.io/badge/search-{{k}}-green?style=for-the-badge)]({{ v }})
{%- endfor %}

| Repository                                                      | Description                            |
| --------------------------------------------------------------- | -------------------------------------- |
{%- for repository in user_repositories %}
| [{{ repository['repo'] }}]({{ repository['url'] }})             | {{ repository['description'] }}        |
{%- endfor %}

## Helm Chart Repositories

[![search-charts](https://img.shields.io/badge/search-repos-orange?style=for-the-badge)]({{ search_urls['chart_repo'] }})
[![search-orgs_users](https://img.shields.io/badge/search-orgs%2Fusers-orange?style=for-the-badge)]({{ search_urls['chart_user'] }})

| Repository                                                      | Description                            |
| --------------------------------------------------------------- | -------------------------------------- |
{%- for repository in chart_repositories %}
| [{{ repository['repo'] }}]({{ repository['url'] }})             | {{ repository['description'] }}        |
{%- endfor %}
